
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 p404 centered">
          @*  <img src="~/Assets/client/img/success.jpg" />*@
            <h2>ĐẶT HÀNG THÀNH CÔNG</h2>
            <br>
            @*<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="form1Name" name="form1Name">
                    <button class="btn btn-theme mt">Search</button>
                </div>
            </div>*@
            <p><a style="padding-left:100px" href="/danh-sach-don-hang">Đơn hàng của bạn</a> | <a href="/san-pham">Tiếp tục mua hàng</a> | <a href="/lien-he"> Liên Hệ</a></p>
        </div>
    </div>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

