
@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 p404 centered">
            <img src="img/404.png" alt="">
            <h1>LỖI THANH TOÁN</h1>
            <h3>Vì 1 lý do nào đó chúng tôi không thực hiện được phương thức thanh toán của bạn</h3>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" id="form1Name" name="form1Name">
                    <button class="btn btn-theme mt">Search</button>
                </div>
            </div>
          @*  <h5 class="mt">Xem danh sách đơn hàng của bạn</h5>*@
            <p><a href="/tai-khoan">Đơn Hàng</a> | <a href="/san-pham">Tiếp Tục Mua Hàng</a> | <a href="/dang-xuat"> Thoát</a></p>
        </div>
    </div>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

