<footer class="site-footer">
    <div class="text-center">
        <p>
          AnDam
        </p>
        <div class="credits">
            88
        </div>
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
