<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="#" class="img-circle" width="80"></a></p>
            <h5 class="centered">Admin</h5>
            <li class="mt">
                <a class="active" href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Quản lý danh mục</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Category/Index">Danh mục sản phẩm</a></li>
                    <li><a href="/Admin/Slide/Index">Quản lý banner</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Quản lý tài khoản</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/User/Index">Thông tin tài khoản</a></li>
                    <li><a href="#">Quản lý quyền</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Product/Create">Thêm sản phẩm</a></li>
                    <li><a href="/Admin/Product/Index">Danh sách sản phẩm</a></li>
                    <li><a href="/Admin/Image/Index">Quản lý hình ảnh</a></li>
                    <li><a href="/Admin/Brand">Quản lý thương hiệu</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Quản lý nhập hàng</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Good/Index">Phiếu nhập hàng</a></li>
                    <li><a href="/Admin/Good/Details">Danh sách đơn hàng</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Quản lý bài viết</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Article/Index">Quản lý bài viết</a></li>
                    <li><a href="/Admin/Topic/Index">Quản lý chủ đề</a></li>
                    <li><a href="#">Quản lý đánh giá</a></li>
                    <li><a href="#">Phản hồi</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Order/Index">Danh sách hóa đơn</a></li>
                    <li><a href="/Admin/Supply/Index"> Nhà cung cấp</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Thống kê</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Report/Index">Thống kê sản phẩm</a></li>
                    <li><a href="/Admin/Report/CanceledOrder">Thống kê hóa đơn</a></li>
                    <li><a href="/Admin/Report/CanceledOrder">Thống kê hóa đơn hủy</a></li>
                    <li><a href="/Admin/Report/Sales">Doanh thu</a></li>
                </ul>
            </li>

            <li>
                <a href="/Admin/Customer/Index">
                    <i class="fa fa-envelope"></i>
                    <span>Danh sách khách hàng </span>
                </a>
            </li>
            @*<li class="sub-menu">
            <a href="javascript:;">
                <i class=" fa fa-bar-chart-o"></i>
                <span>Charts</span>
            </a>
            <ul class="sub">
                <li><a href="morris.html">Morris</a></li>
                <li><a href="chartjs.html">Chartjs</a></li>
                <li><a href="flot_chart.html">Flot Charts</a></li>
                <li><a href="xchart.html">xChart</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-comments-o"></i>
                <span>Quản lý chat</span>
            </a>
            <ul class="sub">
                <li><a href="lobby.html">Lobby</a></li>
                <li><a href="chat_room.html"> Chat Room</a></li>
            </ul>
        </li>*@

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
