<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="#" class="img-circle" width="80"></a></p>
            <h5 class="centered">Admin</h5>
            <li class="mt">
                <a class="active" href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Quản lý danh mục</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/Category/Index">Danh mục sản phẩm</a></li>
                    <li><a href="/Admin/User/Index">Quản lý menu</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Quản lý tài khoản</span>
                </a>
                <ul class="sub">
                    <li><a href="/Admin/User/Index">Thông tin tài khoản</a></li>
                    <li><a href="/Admin/User/Create">Thêm tài khoản</a></li>
                    <li><a href="#">Quản lý quyền</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Quản lý Sản phẩm</span>
                </a>
                <ul class="sub">
                    <li><a href="#">Thông tin sản phẩm</a></li>
                    <li><a href="#">Thêm sản phẩm</a></li>
                    <li><a href="/Admin/Brand">Quản lý thương hiệu</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Quản lý bài viết</span>
                </a>
                <ul class="sub">
                    <li><a href="#">Thêm bài viết</a></li>
                    <li><a href="#">Quản lý bài viết</a></li>
                    <li><a href="/Admin/Topic/Index">Quản lý chủ đề</a></li>
                    <li><a href="#">Quản lý đánh giá</a></li>
                    <li><a href="#">Phản hồi</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
                <ul class="sub">
                    <li><a href="basic_table.html">Xử lý đơn hàng</a></li>
                    <li><a href="responsive_table.html">Thông tin đơn hàng</a></li>
                    <li><a href="/Admin/Supply/Index"> Nhà cung cấp</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Thống kê</span>
                </a>
                <ul class="sub">
                    <li><a href="form_component.html">Form Components</a></li>
                    <li><a href="advanced_form_components.html">Advanced Components</a></li>
                    <li><a href="form_validation.html">Hàng tồn</a></li>
                    <li><a href="contactform.html">Hủy hàng</a></li>
                </ul>
            </li>

            <li>
                <a href="/Admin/Customer/Index">
                    <i class="fa fa-envelope"></i>
                    <span>Danh sách khách hàng </span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Charts</span>
                </a>
                <ul class="sub">
                    <li><a href="morris.html">Morris</a></li>
                    <li><a href="chartjs.html">Chartjs</a></li>
                    <li><a href="flot_chart.html">Flot Charts</a></li>
                    <li><a href="xchart.html">xChart</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-comments-o"></i>
                    <span>Quản lý chat</span>
                </a>
                <ul class="sub">
                    <li><a href="lobby.html">Lobby</a></li>
                    <li><a href="chat_room.html"> Chat Room</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
